In [23]:
import pandas as pd

# Load the CSV file
file_path = r'C:\Users\clint\Desktop\Research Proposal Trucks\filtered_data.csv'
filtered_data = pd.read_csv(file_path)

# Display the first few rows of the dataframe
filtered_data

,CRASH_ID,REPORT_STATE,REPORT_DATE,REPORT_SEQ_NO,CI_STATUS_CODE,LOCATION,CITY_CODE,CITY,STATE,COUNTY_CODE,CARGO_BODY_TYPE_ID,VEHICLE_IDENTIFICATION_NUMBER,VEHICLE_LICENSE_NUMBER,VEHICLE_CONFIGURATION_ID,VEHICLES_IN_ACCIDENT,FATALITIES,INJURIES,TRANSACTION_CODE,CRASH_EVENT_SEQ_ID_DESC
0,670601,LA,19940107,1,C,NaN,NaN,RURAL,LA,13.0,3.0,NaN,NaN,9.0,2.0,0,1,A,2:1:NONCOLLISION:RAN OFF ROAD;1:14:COLLISION I...
1,971457,PA,19941128,1,C,PARKSIDE AV,6540.0,PHILADELPHIA,PA,101.0,2.0,1HVBBPEN7PH548132,SB43701,4.0,3.0,0,3,A,4:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
2,584225,IL,19950925,2,C,500 BLK IL RT 53,NaN,BOLINGBROOK,IL,NaN,5.0,1XP5DBZXXT0373386,89421,9.0,2.0,0,0,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
3,422525,AR,19950526,1,C,I-40 EB,NaN,CARLISLE,AR,85.0,3.0,1FUYDSEB4SH751516,TL17529,9.0,2.0,0,1,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
4,686439,MD,19950313,1,C,MAGNOLIA RD,NaN,NaN,MD,25.0,9.0,1FABP37X8DK162080,Y12N801,6.0,1.0,0,1,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47748,4827784,GA,20240912,2,C,I20WBWEST AVE AT WEST AVE SW,NaN,CONYERS,GA,247.0,98.0,1FVACXDT2GHHD0760,C148HR,5.0,2.0,0,0,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47749,4834784,CA,20241016,1,C,33.738589 / -117.113936,NaN,UNINCORPORATED,CA,65.0,5.0,3D7KR28A47G848711,8N69620,9.0,2.0,0,0,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47750,4840368,CA,20240811,1,C,34.014770 / -117.524221,NaN,JURUPA VALLEY,CA,65.0,5.0,4V4NC9EH5NN315312,41735PF,9.0,2.0,0,1,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47751,4789700,GA,20240709,1,C,OLD NATIONAL HWY AT FLAT SHOALS RD,NaN,SOUTH FULTON,GA,121.0,98.0,1FVACWFCXPHUE3588,XWJ515,5.0,2.0,0,0,C,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47752,4858091,GA,20241123,1,C,11521 I85N NE BUFORD DR SR 20,NaN,BUFORD,GA,135.0,3.0,4V4N19EH4HN990675,R275560,9.0,2.0,0,1,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE

In [24]:
filtered_data_sorted = filtered_data.sort_values(by='REPORT_DATE')
filtered_data_sorted = filtered_data_sorted.drop(columns=['CI_STATUS_CODE', 'TRANSACTION_CODE'])
filtered_data_sorted

,CRASH_ID,REPORT_STATE,REPORT_DATE,REPORT_SEQ_NO,LOCATION,CITY_CODE,CITY,STATE,COUNTY_CODE,CARGO_BODY_TYPE_ID,VEHICLE_IDENTIFICATION_NUMBER,VEHICLE_LICENSE_NUMBER,VEHICLE_CONFIGURATION_ID,VEHICLES_IN_ACCIDENT,FATALITIES,INJURIES,CRASH_EVENT_SEQ_ID_DESC
34700,496798,CO,19900205,1,NaN,NaN,NaN,CO,69.0,3.0,1FUYDZYB6TP876478,1HQ769,9.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
30301,211409,WI,19910906,1,WB,4.0,FARMINGTON,WI,55.0,3.0,1FUEYDYB8FP250638,PRR6674,9.0,2.0,0,2,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
14168,953759,PA,19920215,1,SAW MILL RUN BL,6600.0,PITTSBURGH,PA,3.0,4.0,2HSFBGUR0MC050683,T319BM,9.0,1.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
21586,482606,CO,19920309,1,501 S ASPEN,NaN,ASPEN,CO,97.0,3.0,1FDYS82A4KVA48457,372AAB,8.0,3.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
25577,954663,PA,19920415,1,COLOSSY CHEVY INLT,NaN,SOUTH FAYETTE,PA,3.0,98.0,1XKADE9X6LS540374,1BC556,9.0,1.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24102,4858954,WA,20241211,1,SR-12*345.00,1365.0,WALLA WALLA,WA,71.0,6.0,1XKDP40X77R164762,63881RP,7.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
15142,4858849,TN,20241212,1,HICKORY RIDGE DR,NaN,MEMPHIS,TN,157.0,3.0,3ALACWDT7GDHC9538,H476554,5.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
40734,4859822,WI,20241212,1,BEAVER DAM ST,NaN,WAUPUN,WI,27.0,2.0,4UZK59M29T2111659,1174B,4.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
44537,4859660,NC,20241213,2,3499,NaN,RALEIGH,NC,183.0,10.0,1FVHCYBS89HAL3924,YA184255,6.0,2.0,0,1,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
13970,4860247,SC,20241216,1,52,NaN,FLORENCE,SC,41.0,3.0,2AKJHHDR4SSWC9159,3653308,9.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE

In [ ]:
import pandas as pd

def filter_crash_data(df):

    # Sort the DataFrame by "CRASH_ID"
    df = df.sort_values(by='CRASH_ID', ascending=False)

    # Initialize a list to keep track of rows to keep
    rows_to_keep = []

    # Iterate through each row
    for i in range(len(df)):
        current_row = df.iloc[i]
        keep = True
        # Compare with the next 5 rows
        for j in range(1, 6):
            if i + j < len(df):
                next_row = df.iloc[i + j]
                if (current_row['REPORT_STATE'] == next_row['REPORT_STATE'] and
                    current_row['REPORT_DATE'] == next_row['REPORT_DATE'] and
                    current_row['CITY'] == next_row['CITY'] and
                    current_row['COUNTY_CODE'] == next_row['COUNTY_CODE']):
                    keep = False
                    break
        if keep:
            rows_to_keep.append(i)

    # Create a new DataFrame with only the rows to keep
    filtered_df = df.iloc[rows_to_keep]

    return filtered_df

# Example usage
file_path = 'your_file.csv'
filtered_df = filter_crash_data(file_path)
filtered_df.to_csv('filtered_file.csv', index=False)
print(filtered_df)

In [25]:
# give me code that does the following
# 1. load a df
# 2. sort by "CRASH_ID" column
# 3. for each row, look at each of the next 5 rows
# 4. check if entry in column "REPORT_STATE","REPORT_DATE","CITY","COUNTY_CODE" match
# 5. if it matches keep all the matching entries

In [26]:
import pandas as pd

def find_matching_entries(df):

    # Step 2: Sort by "CRASH_ID" column
    df_sorted = df.sort_values(by='CRASH_ID')

    # Step 3-5: Check for matching entries in the specified columns
    matching_entries = []

    for i in range(len(df_sorted)):
        current_row = df_sorted.iloc[i]
        for j in range(1, 6):
            if i + j < len(df_sorted):
                next_row = df_sorted.iloc[i + j]
                if (current_row['REPORT_STATE'] == next_row['REPORT_STATE'] and
                    current_row['REPORT_DATE'] == next_row['REPORT_DATE'] and
                    current_row['CITY'] == next_row['CITY'] and
                    current_row['COUNTY_CODE'] == next_row['COUNTY_CODE']):
                    matching_entries.append(current_row)
                    matching_entries.append(next_row)

    # Remove duplicates from matching_entries
    matching_entries_df = pd.DataFrame(matching_entries).drop_duplicates()

    return matching_entries_df

matching_entries_df = find_matching_entries(filtered_data_sorted)
matching_entries_df

,CRASH_ID,REPORT_STATE,REPORT_DATE,REPORT_SEQ_NO,LOCATION,CITY_CODE,CITY,STATE,COUNTY_CODE,CARGO_BODY_TYPE_ID,VEHICLE_IDENTIFICATION_NUMBER,VEHICLE_LICENSE_NUMBER,VEHICLE_CONFIGURATION_ID,VEHICLES_IN_ACCIDENT,FATALITIES,INJURIES,CRASH_EVENT_SEQ_ID_DESC
28490,16303,SD,19960110,1,I29,NaN,RURAL,SD,99.0,3.0,1XP9DB9XX6P202531,PM7606,9.0,3.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
823,16304,SD,19960110,1,I29,NaN,RURAL,SD,99.0,98.0,2FUYDXYBXTA567288,PRJ2704,9.0,4.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
29513,24017,TN,20000124,1,N.W. BROAD STREET,0.0,MURFREESBORO,TN,149.0,3.0,1HSCAAHN33Y365339,5680HV,7.0,3.0,0,2,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
29514,24018,TN,20000124,1,N.W. BROAD STREET,0.0,MURFREESBORO,TN,149.0,3.0,1HSCAAHN337J05339,5080HV,7.0,3.0,0,2,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47229,202074,WA,19960203,1,I90 5 MILES NORTH/NORTH BEND,NaN,NORTH BEND,WA,33.0,3.0,1FUYDMDB7TP592740,067972,7.0,3.0,0,2,2:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20185,4856917,CA,20241105,2,36.229855/-120.228810,NaN,UNINCORPORATED,CA,19.0,3.0,3AKJHHDR3LSLS4063,ZP26373,9.0,3.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
36194,4858396,MI,20240705,3,GREENFIELD,NaN,Detroit,MI,163.0,2.0,4UZABRDT7HCJD7980,DB32401,4.0,4.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
300,4858397,MI,20240705,4,GREENFIELD,NaN,Detroit,MI,163.0,2.0,1BAKGCBH8KF350849,DD27702,4.0,4.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
19268,4860047,NH,20241204,1,108 OCEAN RD,NaN,Greenland,NH,15.0,3.0,3AKJHPDV2NSMV7486,47KS9M,9.0,2.0,0,1,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
19269,4860048,NH,20241204,2,108 OCEAN RD,NaN,Greenland,NH,15.0,3.0,3AKJHHDR2SSLK6336,05KT2J,9.0,2.0,0,1,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE

In [27]:
filtered_fatalities_df = matching_entries_df[matching_entries_df['FATALITIES'] > 2]
filtered_fatalities_df

,CRASH_ID,REPORT_STATE,REPORT_DATE,REPORT_SEQ_NO,LOCATION,CITY_CODE,CITY,STATE,COUNTY_CODE,CARGO_BODY_TYPE_ID,VEHICLE_IDENTIFICATION_NUMBER,VEHICLE_LICENSE_NUMBER,VEHICLE_CONFIGURATION_ID,VEHICLES_IN_ACCIDENT,FATALITIES,INJURIES,CRASH_EVENT_SEQ_ID_DESC
38816,1544018,NV,20050729,2,R3 - IR80 EAST,NaN,ELKO,NV,7.0,3.0,91667,125268,9.0,19.0,4,14,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
17971,1544022,NV,20050729,6,R3 - IR80 EAST,NaN,ELKO,NV,7.0,3.0,79373,6009394,11.0,19.0,4,14,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
14615,3434775,WA,20170726,1,ALDERWOOD MALL PKWY BLK 16900,715.0,Lynnwood,WA,61.0,3.0,1JJV532D9AL347570,4010KK,99.0,3.0,3,1,2:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
28592,3434776,WA,20170726,3,ALDERWOOD MALL PKWY BLK 16900,715.0,Lynnwood,WA,61.0,3.0,4V4NC9EH8BN294404,C70758D,9.0,3.0,3,1,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
21440,4575986,OR,20230518,1,I-5 .26 S REST AREA ON RAMP,NaN,6.81 N ALBANY,OR,47.0,3.0,3AKJHHDR7JSJZ6424,3194946,9.0,3.0,7,3,2:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
39310,4575987,OR,20230518,2,I-5 .26 S REST AREA ON RAMP,NaN,6.81 N ALBANY,OR,47.0,3.0,3AKJHHDR4RSUC6024,3235675,9.0,3.0,7,3,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE

In [28]:
matching_entries_df.to_csv('matching_entries_df.csv', index=False)