In [16]:
import pandas as pd

# Load the CSV file
file_path = r'C:\Users\clint\Desktop\Research-Proposal-Trucks\filtered_data.csv'
filtered_data = pd.read_csv(file_path)

# Display the first few rows of the dataframe
filtered_data

,CRASH_ID,REPORT_STATE,REPORT_DATE,REPORT_SEQ_NO,CI_STATUS_CODE,LOCATION,CITY_CODE,CITY,STATE,COUNTY_CODE,CARGO_BODY_TYPE_ID,VEHICLE_IDENTIFICATION_NUMBER,VEHICLE_LICENSE_NUMBER,VEHICLE_CONFIGURATION_ID,VEHICLES_IN_ACCIDENT,FATALITIES,INJURIES,TRANSACTION_CODE,CRASH_EVENT_SEQ_ID_DESC
0,670601,LA,19940107,1,C,NaN,NaN,RURAL,LA,13.0,3.0,NaN,NaN,9.0,2.0,0,1,A,2:1:NONCOLLISION:RAN OFF ROAD;1:14:COLLISION I...
1,971457,PA,19941128,1,C,PARKSIDE AV,6540.0,PHILADELPHIA,PA,101.0,2.0,1HVBBPEN7PH548132,SB43701,4.0,3.0,0,3,A,4:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
2,584225,IL,19950925,2,C,500 BLK IL RT 53,NaN,BOLINGBROOK,IL,NaN,5.0,1XP5DBZXXT0373386,89421,9.0,2.0,0,0,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
3,422525,AR,19950526,1,C,I-40 EB,NaN,CARLISLE,AR,85.0,3.0,1FUYDSEB4SH751516,TL17529,9.0,2.0,0,1,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
4,686439,MD,19950313,1,C,MAGNOLIA RD,NaN,NaN,MD,25.0,9.0,1FABP37X8DK162080,Y12N801,6.0,1.0,0,1,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47748,4827784,GA,20240912,2,C,I20WBWEST AVE AT WEST AVE SW,NaN,CONYERS,GA,247.0,98.0,1FVACXDT2GHHD0760,C148HR,5.0,2.0,0,0,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47749,4834784,CA,20241016,1,C,33.738589 / -117.113936,NaN,UNINCORPORATED,CA,65.0,5.0,3D7KR28A47G848711,8N69620,9.0,2.0,0,0,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47750,4840368,CA,20240811,1,C,34.014770 / -117.524221,NaN,JURUPA VALLEY,CA,65.0,5.0,4V4NC9EH5NN315312,41735PF,9.0,2.0,0,1,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47751,4789700,GA,20240709,1,C,OLD NATIONAL HWY AT FLAT SHOALS RD,NaN,SOUTH FULTON,GA,121.0,98.0,1FVACWFCXPHUE3588,XWJ515,5.0,2.0,0,0,C,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47752,4858091,GA,20241123,1,C,11521 I85N NE BUFORD DR SR 20,NaN,BUFORD,GA,135.0,3.0,4V4N19EH4HN990675,R275560,9.0,2.0,0,1,A,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE

In [17]:
filtered_data_sorted = filtered_data.sort_values(by='REPORT_DATE')
filtered_data_sorted = filtered_data_sorted.drop(columns=['CI_STATUS_CODE', 'TRANSACTION_CODE','CARGO_BODY_TYPE_ID','VEHICLE_IDENTIFICATION_NUMBER','VEHICLE_LICENSE_NUMBER','VEHICLE_CONFIGURATION_ID'])
filtered_data_sorted

,CRASH_ID,REPORT_STATE,REPORT_DATE,REPORT_SEQ_NO,LOCATION,CITY_CODE,CITY,STATE,COUNTY_CODE,VEHICLES_IN_ACCIDENT,FATALITIES,INJURIES,CRASH_EVENT_SEQ_ID_DESC
34700,496798,CO,19900205,1,NaN,NaN,NaN,CO,69.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
30301,211409,WI,19910906,1,WB,4.0,FARMINGTON,WI,55.0,2.0,0,2,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
14168,953759,PA,19920215,1,SAW MILL RUN BL,6600.0,PITTSBURGH,PA,3.0,1.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
21586,482606,CO,19920309,1,501 S ASPEN,NaN,ASPEN,CO,97.0,3.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
25577,954663,PA,19920415,1,COLOSSY CHEVY INLT,NaN,SOUTH FAYETTE,PA,3.0,1.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24102,4858954,WA,20241211,1,SR-12*345.00,1365.0,WALLA WALLA,WA,71.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
15142,4858849,TN,20241212,1,HICKORY RIDGE DR,NaN,MEMPHIS,TN,157.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
40734,4859822,WI,20241212,1,BEAVER DAM ST,NaN,WAUPUN,WI,27.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
44537,4859660,NC,20241213,2,3499,NaN,RALEIGH,NC,183.0,2.0,0,1,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
13970,4860247,SC,20241216,1,52,NaN,FLORENCE,SC,41.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE

In [18]:
import pandas as pd

def process_dataframe(df):
    # Sort the dataframe by "CRASH_ID"
    df = df.sort_values(by="CRASH_ID", ascending=False).reset_index(drop=True)
    
    # Initialize a list to keep the rows to retain
    rows_to_keep = []
    
    # Iterate over the dataframe
    i = 0
    while i < len(df):
        current_row = df.iloc[i]
        keep_row = True
        
        # Check the next 5 rows
        for j in range(1, 6):
            if i + j < len(df):
                next_row = df.iloc[i + j]
                if (current_row["REPORT_STATE"] == next_row["REPORT_STATE"] and
                    current_row["REPORT_DATE"] == next_row["REPORT_DATE"] and
                    current_row["CITY"] == next_row["CITY"] and
                    current_row["COUNTY_CODE"] == next_row["COUNTY_CODE"]):
                    keep_row = False
                    break
        
        # If no match found in the next 5 rows, keep the current row
        if keep_row:
            rows_to_keep.append(current_row)
        
        i += 1
    
    # Create a new dataframe with the rows to keep
    result_df = pd.DataFrame(rows_to_keep)
    
    return result_df


result_df = process_dataframe(filtered_data_sorted)
result_df

,CRASH_ID,REPORT_STATE,REPORT_DATE,REPORT_SEQ_NO,LOCATION,CITY_CODE,CITY,STATE,COUNTY_CODE,VEHICLES_IN_ACCIDENT,FATALITIES,INJURIES,CRASH_EVENT_SEQ_ID_DESC
0,4860792,CA,20241017,1,34.441682 / -118.568696,NaN,SANTA CLARITA,CA,37.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
1,4860781,CA,20241117,1,ANNADALE AV / 26 FT W J ST,NaN,SANGER,CA,19.0,2.0,0,1,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
2,4860550,ID,20241206,2,DIVIDE CREEK,NaN,MERIDIAN,ID,1.0,2.0,0,1,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
3,4860541,ID,20241122,1,BEST BUSINESS AVE,NaN,KUNA,ID,1.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
4,4860302,IL,20241205,2,S WEST ST,NaN,Olney Twp,IL,159.0,4.0,0,0,2:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
47748,16220,SD,19970923,1,6TH ST,NaN,SIOUX FALLS,SD,99.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47749,16111,SD,20000716,1,I-90,NaN,RURAL,SD,93.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47750,16017,SD,20010203,1,I-29,NaN,RURAL,SD,99.0,7.0,0,1,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47751,15968,SD,19990120,1,I-90,NaN,RURAL,SD,99.0,2.0,0,0,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE
47752,15953,SD,20010203,1,I-29,NaN,RURAL,SD,103.0,7.0,0,1,1:14:COLLISION INVOLVING PARKED MOTOR VEHICLE;...

In [19]:
result_df.to_csv('result_df.csv', index=False)

In [20]:
# give me code that does the following
# 1. load a df
# 2. sort by "CRASH_ID" column
# 3. for each row, look at each of the next 5 rows
# 4. check if entry in column "REPORT_STATE","REPORT_DATE","CITY","COUNTY_CODE" match
# 5. if it matches keep all the matching entries

In [21]:
import pandas as pd

def find_matching_entries(df):

    # Step 2: Sort by "CRASH_ID" column
    df_sorted = df.sort_values(by='CRASH_ID')

    # Step 3-5: Check for matching entries in the specified columns
    matching_entries = []

    for i in range(len(df_sorted)):
        current_row = df_sorted.iloc[i]
        for j in range(1, 6):
            if i + j < len(df_sorted):
                next_row = df_sorted.iloc[i + j]
                if (current_row['REPORT_STATE'] == next_row['REPORT_STATE'] and
                    current_row['REPORT_DATE'] == next_row['REPORT_DATE'] and
                    current_row['CITY'] == next_row['CITY'] and
                    current_row['COUNTY_CODE'] == next_row['COUNTY_CODE']):
                    matching_entries.append(current_row)
                    matching_entries.append(next_row)

    # Remove duplicates from matching_entries
    matching_entries_df = pd.DataFrame(matching_entries).drop_duplicates()

    return matching_entries_df

matching_entries_df = find_matching_entries(result_df)
matching_entries_df

Empty DataFrame
Columns: []
Index: []